num_classes : 2
batch_size : 1
epochs : 200
lr : 0.01
momentum : 0.9
weight_decay : 0.0001
print_freq : 1
start_epoch : 0 
save_best : 1
resume : 0
amp : 0
num_workers: 0

# one of following value: unet, unetpp, vgg_unet,
mode : unetpp
model_id: unetpp-dropout0-diceceloss-basec16
is_cbam: False
is_aspp: True
is_sqex: True
# diceceloss(cross entropy loss), dicefocalloss, diceloss
loss: diceceloss