num_classes : 2
batch_size : 4
epochs : 200
lr : 0.01
momentum : 0.9
weight_decay : 0.0001
print_freq : 1
start_epoch : 0 
save_best : 1
resume : 0
amp : 0
num_workers: 0
drop_out: 0.2

# one of following value: unet, unetpp
mode : unetpp
model_id: unetpp-base
is_cbam: False
is_aspp: False
is_sqex: False
is_dropblock: False
# gdicefocalloss, gdiceloss, diceloss
loss: diceloss

UNet_base_c: 32
Unetpp_base_c: 32